soon.beta #footer {

	nav {
		padding: 20px 0 25px;
	}
	ul {
		padding-top: 22px;
	}
	> hr {
		display: block !important;
		opacity: .2;
	}
}

.beta #get-app {
	.platforms {
		margin-bottom: 0;
	}
}
soon
.beta #browse-movies {
	display: none;
}

.soon #links .download,
.soon #features .action {
}

.soon #links .social {
	margin: 0 10px;
	display:none
}

