[class^="btn-"] {
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4), inset 0px 1px rgba(255,255,255,.2);
  padding: 14px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0px -1px 1px rgba(0,0,0,.3);
  -webkit-transition: background-color ease .2s, box-shadow ease .2s;
  -moz-transition: background-color ease .2s, box-shadow ease .2s;
  transition: background-color ease .2s, box-shadow ease .2s;
}
.btn-disabled {
  background-color: $button-disabled;
  cursor: default;
  pointer-events: none;
}
.btn-main {
  background-color: $button-red;

  &:hover {
    background-color: darken($button-red, 10%);
  }

  &:active {
    background-color: darken($button-red, 20%);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), inset 0px 1px rgba(255,255,255,.2);
  }
}
.icon-twitter {
  background: #36bff4;
  &:before {
    font-size: 16px;
  }
  &:hover {
    background: #3cd0fa;
  }
  &:active {
    background: #35bef3;
  }
}
.icon-facebook {
  background: #1b6fbb;
  &:hover {
    background: #2081d1;
  }
  &:active {
    background: #1864a9;
  }
}
.btn-wider {
	padding: 14px 45px;
}
.btn-wide {
  width: 200px;
}
.btn-med {
  width: 130px;
  display: block;
  margin: 0 auto;
  text-align: center;
}