#header {
	height: 670px;
	overflow: hidden;
	background: url(../images/bg-header.jpg) no-repeat center top #0a0b28;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 30px;
	position: fixed;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
	
	.text {
		padding: 0 0 40px;
	}

	h1 {
		margin-bottom: 5px;
		margin-top: 0px;
	}

	p {
		margin-bottom: 0;
	}

	.ui-screenshot {
		box-shadow: 0px -10px 30px 10px rgba(67,244,249, .25);
	}
}

#logo {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 211px;
	height: 71px;
	background: url(../images/header-logo.png) no-repeat;
	margin: 0 auto;
	text-align: left;
}

#links {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 30px;

	li {
		list-style: none;
		display: inline-block;
		text-align: center;
		/* margin: 0 25px; */
		vertical-align: top;

		&.download {
			line-height: 40px;
			margin-right: 0;

			a {
				line-height: 19px;
			}
		}
		&.github {
			position: relative;
			top: 16px;

			a:before {
				position: absolute;
				left: -30px;
			}
		}

		small {
			font-size: 12px;
			color: rgba(0,0,0,.5);
			font-weight: normal;
			font-style: italic;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}